@model IEnumerable<Management.Models.Class>

@{
    ViewData["Title"] = "Class List";
    var data = new string[] { "American Football", "Badminton", "Basketball", "Cricket", "Football", "Golf", "Hockey", "Rugby", "Snooker", "Tennis" };
}

@Html.AntiForgeryToken()

<!-- Create Class -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary">
    <a asp-action="Create" class="text-white text-decoration-none">Create</a>
</button>


<table id="classListTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students)
            </th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Students" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @if (item.Students?.Count() != 0)
                    {
                        @foreach (var s in item.Students)
                        {
                            <a asp-controller="Students" asp-action="Details" asp-route-id="@s.Id">@s.FullName | </a>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Enroll" asp-route-id="@item.Id">Enroll</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>@Html.DisplayNameFor(model => model.Students)</th>
            <th>Option</th>
        </tr>
    </tfoot>
</table>

@section Scripts {
    <script>
        $(document).ready(() => {
            new DataTable('#classListTable', {
                lengthMenu: [
                    [5, 10, 25, -1],
                    [5, 10, 25, 'All']
                ]
            });

         
        });
    </script>
}
